h1 {
    color: #FF69B4;
    text-align: center;
  }
  .mamaCaja {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  width: 800px;
  height: 600px;
  background-color: pink;
  margin: auto;
  font-family: Major Mono Display;
  text-align: center;
    
  }

  @keyframes aparecerDesaparecer {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .emoji {
    animation: aparecerDesaparecer 2s infinite;
  }
  

  .caja1, .caja2, .caja3, .caja5, .caja6, .caja7, .caja9, .caja10, .caja11 {
    width:150px;
    height:100px;
    background-color: #FFFACD;
    margin: 10px;
    position: relative;
  }

.caja4, .caja8, .caja12 {
  margin: 10px;
  width: 200px;
  height: 100px;
  position: relative;
  background: violet;
}

.caja13, .caja14 {
    width:150px;
    height:100px;
    background-color: #FFFACD;
    margin: 10px;
    position: relative;
    
  }

  
#emoji1,  #emoji6, #emoji11 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

#emoji2, #emoji3, #emoji4, #emoji5, #emoji7, #emoji8, #emoji9, #emoji10, #emoji12, #emoji13, #emoji14 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-top: 20px;
}
  